<div class="menu-container">
  <h4 *ngIf="menu === 'takeOut'">Cardápio pronta entrega</h4>
  <h4 *ngIf="menu === 'preOrder'">Cardápio de encomendas</h4>

  <div class="products-list">
    <div class="menu-border">
      <app-list-menu-item
        *ngFor="let productEl of products"
        [product]="productEl"
      ></app-list-menu-item>

      <div class="menu-img">
        <img
          src="./assets/img/bolo_menu.png"
          alt="bolo de chocolate"
          width="120px"
        />
      </div>
    </div>
  </div>
</div>
