<div class="menu-container" id="product-list">
  <h4 *ngIf="menu === 'takeOut'">Cardápio pronta entrega</h4>
  <h4 *ngIf="menu === 'preOrder'">Cardápio de encomendas</h4>
  <h4 *ngIf="menu === 'dolceWeek'">Semana Dolce - {{ dolceWeekMonth }}</h4>
  <p *ngIf="dolceWeekDays">
    Nossa Semana Dolce {{ dolceWeekMonth }} irá acontecer nos dias
    {{ dolceWeekDays }}. E como vai funcionar? A partir de outubro teremos,
    todos os meses, uma semana muito especial com doces exclusivos para
    encomenda! Garantimos que vocês irão amar as novidades!
  </p>
  <p *ngIf="menu === 'takeOut'">
    Horário de funcionamento: de quinta a sábado das 10h às 19h e domingos das
    10h às 15h, conforme disponibilidade.
  </p>

  <div class="products-list">
    <div class="menu-border">
      <app-list-menu-item
        *ngFor="let productEl of products"
        [product]="productEl"
      ></app-list-menu-item>

      <div class="menu-img">
        <img
          src="./assets/img/bolo_menu.png"
          alt="bolo de chocolate"
          width="120px"
          (click)="convetToPDF(menu)"
        />
      </div>
    </div>
  </div>
</div>
