@import 'src/styles/sass/base';

.menu-container {
  padding: map-get($spacing, medium);
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: $sm) {
    padding: map-get($spacing, xx-large);
  }

  h4 {
    font-family: map-get($font-family, primary);
    font-weight: map-get($font-weight, medium);
    font-size: map-get($font-size, x-large);
    padding: map-get($spacing, medium) 0;
    border: 2px dashed $logo-pink;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 320px;

    @media (min-width: $sm) {
      font-size: map-get($font-size, xx-large);
      max-width: 500px;
    }
  }

  .christmas {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: red;
      margin: 0 16px;
    }
  }

  .easter {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 0 16px;
    }
  }

  p {
    padding: map-get($spacing, x-large) map-get($spacing, medium) 0
      map-get($spacing, medium);
    font-weight: map-get($font-weight, medium);
    font-size: map-get($font-size, medium);
  }

  .products-list {
    color: $dark-brown;
    background-color: $light-pink;
    padding: map-get($spacing, large);
    border-radius: map-get($spacing, small);
    margin-top: map-get($spacing, x-large);
  }

  .menu-border {
    border: 4px solid $white;
    border-radius: map-get($spacing, small);
    padding: map-get($spacing, small);
    position: relative;

    @media (min-width: $sm) {
      padding: map-get($spacing, large);
    }

    h4 {
      margin: map-get($spacing, medium) 0;
      text-decoration: underline;
    }
  }

  .menu-img {
    display: flex;
    justify-content: center;
    margin-top: map-get($spacing, xx-large);

    &.pascoa {
      img {
        bottom: -20px;
      }
    }

    img {
      position: absolute;
      bottom: -30px;
    }
  }
}
