<app-floating-buttons></app-floating-buttons>
<div class="menu-container" id="product-list">
  <h4 *ngIf="menu === 'takeOut'">Cardápio pronta entrega</h4>
  <h4 *ngIf="menu === 'preOrder'">Cardápio de encomendas</h4>
  <h4 *ngIf="menu === 'dolceWeek'">Semana Dolce - {{ dolceWeekMonth }}</h4>
  <h4 *ngIf="menu === 'christmas'" class="christmas">
    <fa-icon class="icon" [icon]="faCandyCane" size="1x"></fa-icon>
    Cardápio de Natal
    <fa-icon class="icon" [icon]="faCandyCane" size="1x"></fa-icon>
  </h4>
  <h4 *ngIf="menu === 'easter'" class="easter">
    <img
      src="./assets/img/menu_pascoa.png"
      alt="ovo de páscoa cor de rosa"
      width="35px"
      (click)="convetToPDF(menu)"
    />
    Páscoa doce da Fabi
    <img
      src="./assets/img/menu_pascoa.png"
      alt="ovo de páscoa cor de rosa"
      width="35px"
      (click)="convetToPDF(menu)"
    />
  </h4>
  <p *ngIf="dolceWeekDays">
    Nossa Semana Dolce {{ dolceWeekMonth }} irá acontecer nos dias
    {{ dolceWeekDays }}. E como vai funcionar? A partir de outubro teremos,
    todos os meses, uma semana muito especial com doces exclusivos para
    encomenda! Garantimos que vocês irão amar as novidades!
  </p>
  <p *ngIf="menu === 'takeOut'">
    Horário de funcionamento: de sexta a sábado das 10h às 18h e domingo das 10h
    às 14h, conforme disponibilidade.
  </p>

  <p *ngIf="menu === 'preOrder'">
    Pedidos com 2 (dois) dias de antecedência. <br /><br />
    Bombons e tortas: <br />
    Tamanho P: serve até 5 pessoas <br />
    Tamanho G: serve até 12 pessoas
  </p>

  <p *ngIf="menu === 'christmas'">
    Torta na travessa: <br />
    Tamanho P: serve até 5 pessoas - R$ 80,00 <br />
    Tamanho G: serve até 12 pessoas - R$ 150,00<br /><br />
    Reservas até dia 17/12 | Pagamento antecipado (50%)
  </p>

  <div class="products-list">
    <div class="menu-border">
      <app-list-menu-item
        *ngFor="let productEl of products"
        [product]="productEl"
      ></app-list-menu-item>

      <div class="menu-img" *ngIf="menu !== 'christmas' && menu !== 'easter'">
        <img
          src="./assets/img/bolo_menu.png"
          alt="bolo de chocolate"
          width="120px"
          (click)="convetToPDF(menu)"
        />
      </div>

      <div class="menu-img" *ngIf="menu === 'christmas'">
        <img
          src="./assets/img/menu_natal.png"
          alt="doce bengala de natal"
          width="90px"
          (click)="convetToPDF(menu)"
        />
      </div>

      <div class="menu-img pascoa" *ngIf="menu === 'easter'">
        <img
          src="./assets/img/menu_pascoa.png"
          alt="ovo de páscoa cor de rosa"
          width="90px"
          (click)="convetToPDF(menu)"
        />
      </div>
    </div>
  </div>
</div>
