$light-pink: #d3afb1;
$logo-pink: #edb2b8;
$cookie-brown: #9c785e;
$brown: #7c6166;
$dark-brown: #673616;
$darker-brown: #562e10;
$bege: #e6cea0;
$white: #fefafb;
$red: #c3282e;
$whine: #722827;
$ifood: #ea1d2c;
