@import 'src/styles/sass/base';

.list-menu-subitem {
  padding-left: 20px;
  padding-bottom: map-get($spacing, medium);

  .subitem-name {
    padding: map-get($spacing, x-small) 0;
    text-align: center;
    font-size: map-get($font-size, medium);
    font-weight: map-get($font-weight, medium);
    font-style: italic;
    text-decoration: underline;
    text-align: left;
  }

  .subitem-description {
    padding: map-get($spacing, x-small) map-get($spacing, small) 0 0;
    font-size: map-get($font-size, small);
    text-align: justify;
  }

  .subitem-extra-infos {
    font-size: map-get($font-size, small);
    text-align: left;
    padding-top: map-get($spacing, small);

    ul {
      padding: 0;
    }

    ul > li {
      list-style: none;
    }
  }
}
