@import 'src/styles/sass/base.scss';

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.ifood {
  background-color: $ifood;
  height: 64px;
  width: 200px;
  display: flex;
  border-radius: 8px;
  padding: 8px;

  img {
    height: 40px;
    width: auto;
    margin: 4px;
  }

  p {
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: map-get($font-weight, medium);
    margin-top: 5px;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .separator {
    height: 48px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 8px;
  }
}
