@import 'src/styles/sass/base';

.container {
  color: $dark-brown;
  font-family: map-get($font-family, secondary);
  text-align: center;
  padding: 0;

  .navigation-container {
    @media (min-width: $sm) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  h1 {
    font-family: map-get($font-family, primary);
    margin-bottom: map-get($spacing, large);
    font-weight: map-get($font-weight, bold);
  }
}
