<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container" [ngSwitch]="loadedFeature">
  <app-navigation
    (featureSelected)="onNavigate($event)"
    *ngIf="loadedFeature === 'menu'"
  ></app-navigation>

  <app-list-menu
    *ngIf="loadedFeature === 'take-out-menu'"
    [products]="takeOutProducts"
    [menu]="'takeOut'"
  ></app-list-menu>

  <app-list-menu
    *ngIf="loadedFeature === 'pre-order-menu'"
    [products]="preOrderProducts"
    [menu]="'preOrder'"
  ></app-list-menu>
</div>

<app-footer></app-footer>
