<app-header (featureSelected)="onNavigate($event)"></app-header>

<!-- <div class="container" [ngSwitch]="loadedFeature">
  <div class="navigation-container">
    <app-navigation
      (featureSelected)="onNavigate($event)"
      *ngIf="loadedFeature === 'menu'"
    ></app-navigation>
  </div>

  <app-list-menu
    *ngIf="loadedFeature === 'take-out-menu'"
    [products]="takeOutProducts"
    [menu]="'takeOut'"
  ></app-list-menu>

  <app-list-menu
    *ngIf="loadedFeature === 'pre-order-menu'"
    [products]="preOrderProducts"
    [menu]="'preOrder'"
  ></app-list-menu>
</div> -->

<router-outlet></router-outlet>

<app-footer></app-footer>
