@import 'src/styles/sass/base';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: map-get($spacing, medium);
  font-family: map-get($font-family, primary);
  font-size: map-get($font-size, x-large);
  position: sticky;
  top: 0;
  background-color: $light-pink;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 999;

  @media (min-width: $lg) {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo-container {
    background-color: $white;
    padding: 0 map-get($spacing, x-large);
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: map-get($spacing, small);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
      -23px 0 20px -23px rgba(0, 0, 0, 0.8),
      23px 0 20px -23px rgba(0, 0, 0, 0.8), inset 0 0 40px rgba(0, 0, 0, 0.1);

    .logo-text {
      margin-left: 50px;

      @media (min-width: $lg) {
        margin-left: 40px;
      }
    }

    img {
      width: 32px;
      height: auto;
      position: absolute;

      @media (min-width: $lg) {
        top: 22px;
        left: 38px;
      }
    }
  }

  a {
    padding-left: 40px;
  }

  .header-nav {
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }
}
