@import 'src/styles/sass/base';

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  padding: map-get($spacing, x-large);
  font-size: map-get($font-size, large);

  .link-container {
    display: flex;
    align-items: center;

    .icon-container {
      border: 8px solid $dark-brown;
      border-radius: 100%;
      width: 220px;
      height: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: map-get($spacing, x-large);

      &:not(:last-child) {
        margin-bottom: map-get($spacing, x-large);
      }
    }
  }

  a {
    padding: map-get($spacing, large) 0;
  }
}
