<div class="navigation-wrapper">
  <a href="#" (click)="onSelect('take-out-menu')" class="link-container">
    <div class="icon-container">
      <fa-icon class="icon" [icon]="faShippingFast" size="6x"></fa-icon>
    </div>
    Cardápio de Pronta Entrega
  </a>

  <a a href="#" (click)="onSelect('pre-order-menu')" class="link-container">
    <div class="icon-container">
      <fa-icon class="icon" [icon]="faBoxOpen" size="6x"></fa-icon>
    </div>
    Cardápio de Encomendas
  </a>

  <a href="#" (click)="onSelect('complete-menu')" v class="link-container">
    <div class="icon-container">
      <fa-icon class="icon" [icon]="faCookieBite" size="6x"></fa-icon>
    </div>
    Cardápio Completo
  </a>
</div>
