<div class="navigation-wrapper">
  <div class="container">
    <div class="navigation-links">
      <div class="navigation-link-container">
        <a [routerLink]="['/cardapio-pronta-entrega']" class="navigation-link">
          <div class="icon-container">
            <fa-icon class="icon" [icon]="faShippingFast" size="3x"></fa-icon>
          </div>
          <span class="navigation-text">Cardápio de pronta entrega</span>
        </a>
      </div>

      <div class="navigation-link-container">
        <a [routerLink]="['/cardapio-encomendas']" class="navigation-link">
          <div class="icon-container">
            <fa-icon class="icon" [icon]="faBoxOpen" size="3x"></fa-icon>
          </div>
          <span class="navigation-text">Cardápio de encomendas</span>
        </a>
      </div>
    </div>
    <div class="ifood">
      <app-ifood></app-ifood>
    </div>
    <app-the-baker class="the-baker"></app-the-baker>
  </div>
</div>
