<div class="navigation-wrapper">
  <div class="container">
    <div class="navigation-links">
      <div class="navigation-link-container">
        <a [routerLink]="['/doces-no-pote']" class="navigation-link">
          <div class="icon-container">
            <i class="fa-solid fa-jar fa-3x"></i>
          </div>
          <span class="navigation-text">Doces no Pote</span>
        </a>
      </div>

      <div class="navigation-link-container">
        <a [routerLink]="['/presenteaveis']" class="navigation-link">
          <div class="icon-container">
            <i class="fa-solid fa-gift fa-3x"></i>
          </div>
          <span class="navigation-text">Presenteáveis</span>
        </a>
      </div>

      <div class="navigation-link-container">
        <a [routerLink]="['/sobremesas']" class="navigation-link">
          <div class="icon-container">
            <i class="fa-solid fa-candy-cane fa-3x"></i>
          </div>
          <span class="navigation-text">Sobremesas</span>
        </a>
      </div>

      <div class="navigation-link-container">
        <a [routerLink]="['/eventos']" class="navigation-link">
          <div class="icon-container">
            <i class="fa-solid fa-cake-candles fa-3x"></i>
          </div>
          <span class="navigation-text">Eventos</span>
        </a>
      </div>
    </div>
    <div class="ifood">
      <app-ifood></app-ifood>
    </div>
    <app-the-baker class="the-baker"></app-the-baker>
  </div>
</div>
