<div class="navigation-wrapper">
  <div class="container">
    <div class="navigation-link-container">
      <a [routerLink]="['/cardapio-pronta-entrega']" class="navigation-link">
        <div class="icon-container">
          <fa-icon class="icon" [icon]="faShippingFast" size="3x"></fa-icon>
        </div>
        <span class="navigation-text">Cardápio de pronta entrega</span>
      </a>
    </div>

    <div class="navigation-link-container">
      <a [routerLink]="['/cardapio-encomendas']" class="navigation-link">
        <div class="icon-container">
          <fa-icon class="icon" [icon]="faBoxOpen" size="3x"></fa-icon>
        </div>
        <span class="navigation-text">Cardápio de encomendas</span>
      </a>
    </div>

    <div class="navigation-link-container">
      <a [routerLink]="['/cardapio-natal']" class="navigation-link">
        <div class="icon-container">
          <fa-icon class="icon" [icon]="faHollyBerry" size="3x"></fa-icon>
        </div>
        <span class="navigation-text">Cardápio de Natal</span>
      </a>
    </div>

    <!-- <div class="navigation-link-container">
      <a [routerLink]="['/semana-dolce']" class="navigation-link">
        <div class="icon-container">
          <fa-icon class="icon" [icon]="faBirthdayCake" size="3x"></fa-icon>
        </div>
        <span class="navigation-text">Semana Dolce - Outubro</span>
      </a>
    </div> -->

    <div class="navigation-link-container">
      <a [routerLink]="['/cardapio-completo']" class="navigation-link">
        <div class="icon-container">
          <fa-icon class="icon" [icon]="faCookieBite" size="3x"></fa-icon>
        </div>
        <span class="navigation-text">Meu cardápio completo</span>
      </a>
    </div>
  </div>
</div>
