<div class="floating-buttons">
  <p>Faça já seu pedido:</p>
  <div class="links-container">
    <a
      href="https://www.instagram.com/docesdifabi/"
      target="_blank"
      class="instagram"
    >
      <img src="assets/img/logo_instagram.png" alt="" />
    </a>

    <a
      href="https://api.whatsapp.com/send?phone=553199921588&text=Ol%C3%A1%2C%20vi%20seu%20card%C3%A1pio%20on-line%20e%20gostaria%20de%20fazer%20um%20pedido."
      target="_blank"
      class="whatsapp"
    >
      <img src="assets/img/logo_whatsapp.png" alt="" />
    </a>
  </div>
</div>
