@import 'src/styles/sass/base.scss';

.container {
  position: relative;

  .product-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: auto;
    margin-bottom: map-get($spacing, large);
    margin-top: map-get($spacing, medium);

    @media (min-width: $sm) {
      justify-content: flex-end;
      position: absolute;
      top: 28px;
      right: map-get($spacing, medium);
      margin-bottom: map-get($spacing, large);
      margin-top: map-get($spacing, large);
    }

    .product-image {
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
    }
  }

  .products-list-item {
    display: flex;
    flex-direction: column;
    font-size: map-get($font-size, medium);
    color: $dark-brown;
    padding: map-get($spacing, small);

    .product-name {
      font-family: map-get($font-family, secondary);
      font-weight: map-get($font-weight, bold);
      margin-bottom: map-get($spacing, medium);
      color: $darker-brown;
      font-size: map-get($font-size, large);

      .icon {
        color: $cookie-brown;
        padding-right: map-get($spacing, small);
      }
    }

    .product-price {
      font-family: map-get($font-family, primary);
      font-weight: map-get($font-weight, bold);
      color: $darker-brown;
    }
  }

  .product-flavors {
    color: $dark-brown;

    p {
      font-family: map-get($font-family, primary);
      font-size: map-get($font-size, large);
    }
  }

  @media (min-width: $sm) {
    .products-list-item {
      flex-direction: row;
      justify-content: space-between;

      .product-name {
        margin-bottom: 0;
      }
    }
  }

  .product-with-image {
    @media (min-width: $sm) {
      min-height: 220px;
      padding-top: 10px;
    }
  }
}
