<div class="container">
  <div class="products-list-item">
    <div class="product-name">
      <fa-icon class="icon" [icon]="faCookieBite"></fa-icon>
      <span *ngIf="product.weight !== ''; else elseBlock">
        {{ product.name }} - {{ product.weight }}
      </span>
      <ng-template #elseBlock> {{ product.name }}</ng-template>
    </div>
    <div class="product-price">{{ product.price }}</div>
  </div>

  <div *ngIf="product.flavors !== ['']" class="product-flavors">
    <app-list-menu-subitem
      *ngFor="let flavorEl of product.flavors; let i = index"
      [itemTitle]="product.flavors[i]"
    ></app-list-menu-subitem>
  </div>

  <hr />
</div>
