<div class="container">
  <div class="row no-gutters">
    <div
      class="product-name col-12 col-md-6 d-flex justify-content-center justify-content-md-start"
    >
      <fa-icon class="icon" [icon]="faCookieBite"></fa-icon>
      <span>{{ product.name }}</span>
    </div>
    <div
      class="product-price col-12 col-md-6 d-flex justify-content-center justify-content-md-end"
    >
      {{ product.price }}
    </div>
  </div>

  <div class="row">
    <div class="product-more-infos" *ngIf="product.hasMoreInfos">
      <ul>
        <ul>
          <li *ngFor="let item of product.moreInfosArray">{{ item }}</li>
        </ul>
      </ul>
    </div>
    <div *ngIf="product.description" class="product-description col-12">
      {{ product.description }}
    </div>
    <div *ngIf="product.weight" class="product-weight col-12">
      Peso aproximado: <u>{{ product.weight }}</u>
    </div>
  </div>

  <div class="row">
    <div
      *ngIf="product.flavors.length !== 0"
      [ngClass]="
        product.imagePath !== ''
          ? 'product-flavors product-with-image col-12 col-md-6 d-flex flex-column justify-content-center'
          : 'product-flavors col-12 d-flex flex-column justify-content-center'
      "
    >
      <div *ngFor="let flavorEl of product.flavors; let i = index">
        <app-list-menu-subitem
          *ngIf="!product.flavors[i].imgUrl; else subitemImg"
          [subitem]="product.flavors[i]"
        ></app-list-menu-subitem>
        <ng-template #subitemImg>
          <app-list-menu-subitem-with-img
            [subitem]="product.flavors[i]"
          ></app-list-menu-subitem-with-img>
        </ng-template>
      </div>
    </div>

    <div
      [ngClass]="
        product.flavors.length !== 0
          ? 'product-image-container col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center'
          : 'product-image-container col-12 d-flex justify-content-center align-items-center'
      "
      *ngIf="product.imagePath !== ''"
    >
      <img
        [attr.src]="product.imagePath"
        [attr.alt]="product.name"
        class="product-image"
      />
    </div>
  </div>

  <hr />
</div>
