@import 'src/styles/sass/base.scss';

.container {
  position: relative;

  font-size: map-get($font-size, medium);
  color: $dark-brown;
  padding: map-get($spacing, small);

  .product-name {
    font-family: map-get($font-family, secondary);
    font-weight: map-get($font-weight, bold);
    margin-bottom: map-get($spacing, medium);
    color: $darker-brown;
    font-size: map-get($font-size, large);
    // text-align: left;

    .icon {
      color: $cookie-brown;
      padding-right: map-get($spacing, small);
    }
  }

  .product-price {
    font-family: map-get($font-family, primary);
    font-weight: map-get($font-weight, bold);
    color: $darker-brown;
  }

  .product-description {
    font-size: map-get($font-size, medium);
    font-weight: map-get($font-weight, normal);
    margin: map-get($spacing, large) 0;
    text-align: justify;
  }

  .product-flavors {
    color: $dark-brown;
    padding-left: 0;
  }

  @media (min-width: $sm) {
    .products-list-item {
      flex-direction: row;
      justify-content: space-between;

      .product-name {
        margin-bottom: 0;
      }
    }
  }

  .product-image-container {
    width: auto;
    margin-bottom: map-get($spacing, large);
    margin-top: map-get($spacing, large);

    .product-image {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}
